streamlit==1.43.2
pandas==2.2.3
opencv-python-headless==4.10.0.84  # Use headless version for cloud deployment
numpy==2.0.2
pygame==2.6.1
imutils==0.5.4
Pillow==11.1.0
streamlit-option-menu==0.3.13
mediapipe
face-recognition
cmake
